<div class="login-wrapper">
  <div class="login-form mb-auto">
      <div class="login-content">
          <img src="/img/logo_rect_long.png" alt="Logo">
          <h1>Welcome, Admin BCR</h1>
          

          <form action="/login/store" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username" id="email" placeholder="Contoh: johndee@gmail.com">
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="6+ karakter">
                </div>
                <button type="submit" class="btn btn-block btn-login">Sign In</button>
          </form>
      </div>
  </div>
</div>